* {
  margin: 0;
  padding: 0;
  outline: none;
}
/* Start of header */
.header {
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  width: 100vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto 14px;
}
/* End of header */
/* start of main body */
.main-body {
  width: 412px;
  background: url(/images/header-illsutration-mobile.png);
  background-size: calc(100%);
  padding-top: 50px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  z-index: -1;
}
/* 1 */
.title h1 {
  font-family: "Inter";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  margin: 15px 0px 5px;
}
/* 2 */
.profession h1 {
  color: #36b37e;
  font-family: "Inter";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 2.5px;
}
/* 3 */
.description p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0px 15px 100px;
}
/* Social media */
.social-icon-container {
  display: grid;
  place-items: center;
  margin-bottom: 15px;
  width: 100%;
}
.social-icon-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
/* end of Social media */
/* end of main body */
