nav {
  display:flex;
  width: 280px;
  background-color: #FFFFFF;
  border: 2px solid goldenrod;
}
nav ul {
  list-style: none;
  display: flex;
  width: 400px;
  justify-content: space-between; 
  border: 2px solid maroon;
}
.box {
  border: 2px solid black;
}
/* 
font-size: 20px;
  font-family: 'Inter', sans-serif; */